@using Toci.DevelopersLeasing.Models.CoursesSearch.DisplayCourses
@using Toci.Mvcexample.Models.NewCoursesSearch.CourseDisplay
@model Toci.Mvcexample.Models.EntireAppModel
   
@*Additionl view, just for testing how does it work*@

<div style="margin-left: 50px; margin-top: 20px">
    @using (Html.BeginForm("CoursesDisplay", "CoursesSearch", FormMethod.Post, new { role = "form", app = Model }))
    {
        foreach (var course in Model.CoursesSearch.Courses.Courses)
        {
            <div>

                @Html.Label(course.Name)

                <div style="margin-left: 50px">
                    @foreach (string keyword in course.Keywords)
                    {
                        @Html.Label(keyword + ",")
                    }
                </div>
            </div>
        }


        <button style="color: darkred">Research</button>

    }

</div>

