<!-- Header -->
<header id="header" class="header">
    <div class="header-wrap">
        <div class="content-header">
            <div id="logo" class="logo">
                <a href="index.html" rel="home">
                   

                    <img src="~/Content/images/logo.png" alt="image">
                </a>
            </div>
            <!-- /.logo -->
            <div class="wrap-nav">
                <div class="btn-menu"></div>
                <!-- //mobile menu button -->
                <nav id="mainnav" class="mainnav">
                    <ul class="menu">
                        <li class="active">
                            <a href="index.html">Home</a>
                            <ul class="submenu">
                                <li><a href="index.html">Home V.1</a></li>
                                <li><a href="index-2.html">Home V.2</a></li>
                                <li><a href="index-3.html">Home V.3</a></li>
                            </ul>
                            <!-- /.submenu -->
                        </li>
                        <li>
                            <a href="blog_post_sidebar.html">Blog</a>
                            <ul class="submenu">
                                <li><a href="blog_right_sidebar.html">Right Sidebar</a></li>
                                <li><a href="blog_left_sidebar.html">Left Sidebar</a></li>
                                <li><a href="blog_full_width.html">Blog Full Width</a></li>
                            </ul>
                            <!-- /.submenu -->
                        </li>
                        <li>
                            <a href="event.html">Events</a>
                            <ul class="submenu">
                                <li><a href="event.html">Events</a></li>
                                <li><a href="event_page.html">Events Page</a></li>
                            </ul>
                            <!-- /.submenu -->
                        </li>
                        <li>
                            <a href="gallery_regular.html">Gallery</a>
                            <ul class="submenu">
                                <li><a href="gallery_regular.html">Gallery Regular</a></li>
                                <li><a href="gallery_full_width.html">Gallery Full Width</a></li>
                                <li><a href="gallery_extended.html">Gallery Extended</a></li>
                                <li><a href="gallery_item.html">Gallery Item</a></li>
                            </ul>
                            <!-- /.submenu -->
                        </li>
                        <li>
                            <a href="#">Pages</a>
                            <ul class="submenu">
                                <li><a href="404.html">404</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="member.html">Member</a></li>
                                <li><a href="shortcode.html">Shortcode</a></li>
                            </ul>
                            <!-- /.submenu -->
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                    <!-- /.menu -->
                </nav>
                <!-- /.mainnav -->
            </div>
            <!-- /.wrap-nav -->
            <div class="wrap-social clearfix">
                <ul class="besmart-socials">
                    <li><a href="#"><span class="icon-social facebook">F</span></a></li>
                    <li><a href="#"><span class="icon-social twitter">L</span></a></li>
                    <li><a href="#"><span class="icon-social">G</span></a></li>
                    <li><a href="#"><span class="icon-social linkedin">I</span></a></li>
                    <li><a href="#"><span class="icon-social pinterest">:</span></a></li>
                </ul>
            </div>
            <!-- /.social-wrap -->
        </div>
        <!-- /.content-header -->
    </div>
    <!-- /.header-wrap -->
</header>
<!-- /.header -->
