@model Toci.Mvcexample.Models.EntireAppModel
@{
    ViewBag.Title = "Recent Projects";
}
           
<!-- Recent Courses -->
<section id="sec-allcourse" class="section padding-section section-all-course">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="roll-carousel courses-carousel" data-margin="23" data-item="3">
                    <div class="title-box text-center">
                        <h2>@ViewBag.Title</h2>
                        <p class="sub-title">View all project</p>
                    </div><!-- /.titile-box -->
                    <div class="owl-carousel">
                        <div class="item">
                            <img src="images/project/1.jpg" alt="image">
                                <div class="text-courses">
                                    <h4><a href="#">Team Leasing</a></h4>
                                    <div class="detail-courses clearfix">
                                        <a href="#"><span class="btn-besmart btn-small price">Go to website</span></a>
                                    </div>
                                    <div class="roll-accordion instructors">
                                        <div class="roll-toggle">
                                            <div class="toggle-title ">See more</div>
                                            <div class="toggle-content">
                                                <p>Information about project</p>
                                                <ul>
                                                    <li><a href="#">Created by developers:</a></li>
                                                    <li><a href="#">Duration of project</a></li>
                                                    <li><a href="#">Use technologies</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>        
                                </div><!-- /.detail-courses -->
                        </div>
                        

                        @*<div class="item">
                                    <img src="images/project/1.jpg" alt="image">
                                    <div class="text-courses">
                                        <h4><a href="#">Philosophy, Politics and Economics (PPE)</a></h4>
                                        <div class="detail-courses clearfix">
                                            <span class="btn-besmart btn-small price">$249</span>
                                            <span class="like pull-right">14.03.15</span>
                                        </div><!-- /.detail-courses -->
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="images/project/3.jpg" alt="image">
                                    <div class="text-courses">
                                        <h4><a href="#">Theology and Oriental Studies</a></h4>
                                        <div class="detail-courses clearfix">
                                            <span class="btn-besmart btn-small price">$999</span>
                                            <span class="like pull-right">29.05.15</span>
                                        </div><!-- /.detail-courses -->
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="images/project/2.jpg" alt="image">
                                    <div class="text-courses">
                                        <h4><a href="#">European and Middle Eastern Languages</a></h4>
                                        <div class="detail-courses clearfix">
                                            <span class="btn-besmart btn-small price">$499</span>
                                            <span class="like pull-right">12.03.15</span>
                                        </div><!-- /.detail-courses -->
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="images/project/1.jpg" alt="image">
                                    <div class="text-courses">
                                        <h4><a href="#">Philosophy, Politics and Economics (PPE)</a></h4>
                                        <div class="detail-courses clearfix">
                                            <span class="btn-besmart btn-small price">$249</span>
                                            <span class="like pull-right">14.03.15</span>
                                        </div><!-- /.detail-courses -->
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="images/project/3.jpg" alt="image">
                                    <div class="text-courses">
                                        <h4><a href="#">Theology and Oriental Studies</a></h4>
                                        <div class="detail-courses clearfix">
                                            <span class="btn-besmart btn-small price">$999</span>
                                            <span class="like pull-right">29.05.15</span>
                                        </div><!-- /.detail-courses -->
                                    </div>
                                </div>*@
                            </div>
                        </div><!-- /.roll-carousel -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section> 

