<div class="top">
    <div class="content-header">
        <div class="one-half">
            <ul class="contact-info inline pull-left">
                <li class="phone"><a href="#">8-800-123-4567</a></li>
                <li class="email"><a href="#">education@online.com</a></li>
            </ul>
        </div><!-- /.one-half -->
        <div class="one-half">
            <ul class="contact-info inline pull-right clearfix">
                <li class="terms"><a href="#">Terms of Use</a></li>
                <li class="contact"><a href="#">Contact Us </a></li>
                <li class="singin"><a href="@Url.Action("Login","Account")">Sign In </a></li>
                <li class="search"><a href="#"><span class="icon-zoom-outline"></span></a></li>

            </ul>
        </div><!-- /.one-half -->
    </div><!-- /.content-header -->
</div><!-- /.top --> 